<!DOCTYPE html>
<html><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  
  <style type="text/css" id="gwd-text-style">p {
    margin: 0px;
}
h1 {
    margin: 0px;
}
h2 {
    margin: 0px;
}
h3 {
    margin: 0px;
}</style>
  <style type="text/css">
  @import url("stylesheets/banmaps.css");
  </style>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet" type="text/css">
  <script data-source="googbase_min.js" data-version="4" data-exports-type="googbase" src="javascripts/googbase.min.js"></script>
  <script data-source="webcomponents_min.js" data-version="5" data-exports-type="gwd_webcomponents" src="javascripts/webcomponents.min.js"></script>
  <script data-source="page_min.js" data-version="12" data-exports-type="gwd-page" src="javascripts/page.min.js"></script>
  <script data-source="pagedeck_min.js" data-version="11" data-exports-type="gwd-pagedeck" src="javascripts/pagedeck.min.js"></script>
  <script data-source="image_min.js" data-version="11" data-exports-type="gwd-image" src="javascripts/image.min.js"></script>
</head>

<body>
      
        <div class="gwd-page-content gwd-page-size">
          <!-- <img is="gwd-image" source="images/background.png" id="img-bg" class="background-logo"> -->
          
          <div class="team-block team-block-left">
            <div class="team-title-block">
              <img is="gwd-image" source="images/teams/<%= team[0].logo %>.png" id="img-logo-left" class="team-logo">
              <p class="team-title-text"><%= team[0].title %></p>
            </div>
            <div id="A0" style="display: none;" class="team-action1 team-action-block">
              <div class="glyph-placeholder"><i class="material-icons" style="font-size: 100px;"></i>
              </div>
              <p class="team-action-text"></p>
            </div>
            <div id="A2" style="display: none;" class="team-action2 team-action-block">
              <div class="glyph-placeholder"><i class="material-icons" style="font-size: 100px;"></i>
              </div>
              <p class="team-action-text"></p>
            </div>
            <div id="A4" style="display: none;" class="team-action3 team-action-block">
              <div class="glyph-placeholder"><i class="material-icons" style="font-size: 100px;"></i>
              </div>
              <p class="team-action-text"></p>
            </div>
            <div id="A6" style="display: none;" class="team-action4 team-action-block">
              <div class="glyph-placeholder"><i class="material-icons" style="font-size: 100px;"></i>
              </div>
              <p class="team-action-text"></p>
            </div>
            <div id="A8" style="display: none;" class="team-action5 team-action-block">
              <div class="glyph-placeholder"><i class="material-icons" style="font-size: 100px;"></i>
              </div>
              <p class="team-action-text"></p>
            </div>
          </div>

          <div style="display: none;" id="A10" class="decider">
            <div class="glyph-placeholder">
              <img is="gwd-image" source="images/icons/hand-shake.svg" id="img-decider">
            </div>
            <p class="team-action-text"></p>
          </div>

          <div class="team-block team-block-right">
            <div class="team-title-block">
              <img is="gwd-image" source="images/teams/<%= team[1].logo %>.png" id="img-logo-right" class="team-logo">
              <p class="team-title-text"><%= team[1].title %></p>
            </div>
            <div style="display: none;" id="A1" class="team-action1 team-action-block">
              <div class="glyph-placeholder"><i class="material-icons" style="font-size: 100px;"></i>
              </div>
              <p class="team-action-text"></p>
            </div>
            <div style="display: none;" id="A3" class="team-action2 team-action-block">
              <div class="glyph-placeholder"><i class="material-icons" style="font-size: 100px;"></i>
              </div>
              <p class="team-action-text"></p>
            </div>
            <div style="display: none;" id="A5" class="team-action3 team-action-block">
              <div class="glyph-placeholder"><i class="material-icons" style="font-size: 100px;"></i>
              </div>
              <p class="team-action-text"></p>
            </div>
            <div style="display: none;" id="A7" class="team-action4 team-action-block">
              <div class="glyph-placeholder"><i class="material-icons" style="font-size: 100px;"></i>
              </div>
              <p class="team-action-text"></p>
            </div>
            <div style="display: none;" id="A9" class="team-action5 team-action-block">
              <div class="glyph-placeholder"><i class="material-icons" style="font-size: 100px;"></i>
              </div>
              <p class="team-action-text"></p>
            </div>
          </div>

          <!-- <div class="footer-div"></div>
          <img is="gwd-image" source="images/maps/bank.jpg" id="img-bank" class="footer-image footer-bank">
          <img is="gwd-image" source="images/maps/border.jpg" id="img-border" class="footer-image footer-border">
          <img is="gwd-image" source="images/maps/chalet.jpg" id="img-chalet" class="footer-image footer-chalet">
          <img is="gwd-image" source="images/maps/clubhouse.jpg" id="img-clubhouse" class="footer-image footer-clubhouse">
          <img is="gwd-image" source="images/maps/coastline.jpg" id="img-coastline" class="footer-image footer-coastline">
          <img is="gwd-image" source="images/maps/consulate.jpg" id="img-consulate" class="footer-image footer-consulate">
          <img is="gwd-image" source="images/maps/kafe.jpg" id="img-kafe" class="footer-image footer-kafe">
          <img is="gwd-image" source="images/maps/oregon.jpg" id="img-oregon" class="footer-image footer-oregon">
          <img is="gwd-image" source="images/maps/villa.jpg" id="img-villa" class="footer-image footer-villa">
          <div class="footer-bank footer-text">БАНК</div>
          <div class="footer-border footer-text">ГРАНИЦА</div>
          <div class="footer-chalet footer-text">ШАЛЕ</div>
          <div class="footer-clubhouse footer-text">КЛУБ</div>
          <div class="footer-coastline footer-text">ПОБЕРЕЖЬЕ</div>
          <div class="footer-consulate footer-text">КОНСУЛЬСТВО</div>
          <div class="footer-kafe footer-text">КАФЕ ДОСТОЕВСКИЙ</div>
          <div class="footer-oregon footer-text">ОРЕГОН</div>
          <div class="footer-villa footer-text">ВИЛЛА</div>
          <div id="overlay-bank" style="display: none;" class="footer-image footer-bank footer-overlay">
            <img is="gwd-image" source="" class="footer-overlay-logo">
          </div>
          <div id="overlay-border" style="display: none;" class="footer-image footer-border footer-overlay">
            <img is="gwd-image" source="" class="footer-overlay-logo">
          </div>
          <div id="overlay-chalet" style="display: none;" class="footer-image footer-chalet footer-overlay">
            <img is="gwd-image" source="" class="footer-overlay-logo">
          </div>
          <div id="overlay-clubhouse" style="display: none;" class="footer-image footer-clubhouse footer-overlay">
            <img is="gwd-image" source="" class="footer-overlay-logo">
          </div>
          <div id="overlay-coastline" style="display: none;" class="footer-image footer-coastline footer-overlay">
            <img is="gwd-image" source="" class="footer-overlay-logo">
          </div>
          <div id="overlay-consulate" style="display: none;" class="footer-image footer-consulate footer-overlay">
            <img is="gwd-image" source="" class="footer-overlay-logo">
          </div>
          <div id="overlay-kafe" style="display: none;" class="footer-image footer-kafe footer-overlay">
            <img is="gwd-image" source="" class="footer-overlay-logo">
          </div>
          <div id="overlay-oregon" style="display: none;" class="footer-image footer-oregon footer-overlay">
            <img is="gwd-image" source="" class="footer-overlay-logo">
          </div>
          <div id="overlay-villa" style="display: none;" class="footer-image footer-villa footer-overlay">
            <img is="gwd-image" source="" class="footer-overlay-logo">
          </div> -->
        </div>

    <script src="jquery/jquery.min.js"></script>
    <script src="jquery/textfill.js"></script>
    <script>var socketUri = `${location.protocol}//${location.hostname}:${location.port}`;</script>
    <script src="<%- process.env.LOCAL || 'https://r6streamtools.herokuapp.com' %>/socket.io/socket.io.js"></script>
    <script src="javascripts/banMaps.js"></script>
    
</body></html>
